* {
    color: white;
      margin: 0;
      padding: 0;
  }

  body {
      height: 100%;
  }
  td {
    text-align: center;
    width:12.5vmin;
    height:12.5vmin;
  }

  tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd)
  {
    cursor: pointer; 
background-color: black;
  }